# App
APP_ENV=development
PORT=8080

# Postgres
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
DB_URL=
DB_URL_LOCAL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=


RABBITMQ_URL=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_TTL_MIN=
JWT_REFRESH_TTL_HOURS=
